body{
      margin: 0;
      padding: 0;

}

img{
      width: 50vw;
      height: 100vh;
      filter: sepia(90%) saturate(200%);
}


.submit{
      text-size-adjust: 100px;
      width: 30vw;
      height: 10vh;
      margin: 100px;

      background-color: orange;
      border-color: orange;
      color: black;
      text-align: center;

      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 200%;
}

mark{
      background-color: orange;

}

.container{
      display: flex;
      flex-direction: row; 
      
}

.box1{
      width: 50vw;
      height: 100vh;
      padding: 0;

      /* Cores */
      
      background-image: url(./Assets/Escritório.jfif);
      background-size: 100vh 100vw;
      background-repeat: no-repeat;
      background-position: center right;
      
      
      filter: sepia(70%) saturate(160%);

      border-color: gray;
      color: black;

      /* FlexBox */

      display: flex;
      flex-direction: column;
      justify-content: center top;
      align-items: center;
}

.box2{
      width: 50vw;
      height: 100vh;
      border-radius: 0px;
      padding: 0;
      margin: 0 0 0 50px;

      /* Cores */
      background-color: white;
      border-color: gray;
      color: black;

      /* FlexBox */

      display: flex;
      flex-direction: column;
      justify-content: right;
      align-items: right;
}

input{
      height: 3vh;
      border-radius: 10px;
      margin: 5px;
      
}

.short_box{

      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
}

.img2{
      width: 2vw;
      height: 2vh;
      position: relative;
      right: 45px;
      top: 30px;

}

.img3{
      width: 25vw;
      height: 25vh;
      position: absolute;
      top: 50px;
    
}


